<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>DI Container</string>
	<key>Description</key>
	<string>This generates a  new dependency injection of scene while using MVVM architecture.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Identifier</key>
			<string>DIContainerName</string>
			<key>Name</key>
			<string>New Scene DI Container Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_DIContainerName:identifier___</string>
			<key>Identifier</key>
			<string>sceneIdentifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneIdentifier___SceneDIContainer</string>
			<key>Description</key>
			<string>The dependency injection scene name</string>
			<key>Identifier</key>
			<string>sceneDIContainerName</string>
			<key>Name</key>
			<string>Scene DI Container Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>9</string>
	<key>Summary</key>
	<string>This generates a new scene using MVVM architecture.</string>
</dict>
</plist>
